body {
    background-color: lightseagreen;
}

.main {
    max-width: 900px;
    margin: 35px auto;
}

.navigation {
    max-width: 100%;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    background-color: rgb(116, 127, 179);

}

.navigation__link {
    font: 18px Sans lightgray;
    text-decoration: none;
    padding: 8px;
}

.main__header {
    color: #7401DF;
    /* Nie stosować importanta. Ważność (specyficzność) identyfikatorów stylowania: !important, <style="">, #id, .class, element {parametr: nastawa;}    id do nawigacji, class do stylowania*/
    /* Aby stylować strony we wszystkich podkatalogach zastosuj składnię href="../style.css"*/
}

.about {
    /* Taka konfiguracja parametrów width i max-width umożliwia stworzenie podstawowej resposywności, jeśli chodzi o                                wielkość ekranu. vw - viewport width vh - viewport height; elementy zdefiniowane z użyciem obu jednostek zmieniają                           się dynamicznie przy skalowaniu okna przeglądarki; nie warto ich używać jednak do wszystkiego */
}

.about__header {
    color: #8904B1;
}

.about_photo {
    float: left;
    max-width: 90px;
    margin-right: 12px;
}

.about__paragraph {
    padding-left: 5px;
    border-left: 5px solid red;
    border-radius: 0px;
    margin-left: 100px;
}

.about__paragraph--color {
    color: aquamarine;
    border: none;
}

/* W modelu BEM w HTML-u powtarzaemy nazwę elementu "about__paragraph", aby element podrzędny różnił się tylko wypisaną wartością (tu "color"), a resztę dziedziczył z elementu nadrzędnego, np. font-size. */

.days {}

.day__header {
    color: #2E64FE;
}

.day__paragraph {
    padding-left: 5px;
    border-left: 5px solid red;
    border-radius: 0px;
    margin-left: 16px;
}

.day__link {
    color: #0B0B61;
}

.article {}

.article__header {
    color: #1460AA;
    font-size: 1.5em
}

.article__paragraph {}

.article__footer {}

.article__footer--photo {}